@import "../../app.scss";

.contact {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding-bottom: 20px;

  @include mobile {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mobile {
      gap: 20px;
      text-align: center;
      align-items: center;
      margin-top: 70px;
    }

    h1 {
      font-size: 100px;
      line-height: 88px;

      @include mobile {
        font-size: 36px;
      }
    }

    span {
      font-weight: 300;
    }

    .item {
      h2 {
        font-size: 24px;
        font-weight: bold;
      }

      span {
        font-size: 16px;
        color: #f1f1f1;
      }
    }
  }

  .formContainer {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 80vh;
    overflow-y: auto;  /* Make sure form is scrollable */
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

    @include mobile {
      max-width: 400px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
    }

    input,
    textarea {
      padding: 15px;
      background-color: transparent;
      border: 1px solid white;
      color: white;
      border-radius: 5px;
      width: 100%;
      box-sizing: border-box;

      @include mobile {
        padding: 12px;
      }
    }

    button {
      padding: 15px;
      border: none;
      background-color: orange;
      color: white;
      font-weight: 500;
      cursor: pointer;
      width: 100%;
      border-radius: 5px;

      @include mobile {
        padding: 12px;
      }

      &:hover {
        background-color: darkorange;
      }
    }

    .phoneSvg {
      stroke: orange;
      position: absolute;
      margin: auto;
      z-index: -1;
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
