@import "../../app.scss";

.contact {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;

  @include mobile {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;

    @include mobile {
      gap: 20px;
    }

    h1 {
      font-size: 100px;
      line-height: 88px;

      @include mobile {
        font-size: 36px;
      }
    }

    span {
      font-weight: 300;
    }
  }

  .formContainer {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include mobile {
      width: 100%;
      padding: 20px;
      max-width: 400px;  // Ensure the form fits well on mobile screens
    }

    .phoneSvg {
      stroke: orange;
      position: absolute;
      margin: auto;
      z-index: -1;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%; // Ensure full width on mobile

      input,
      textarea {
        padding: 15px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 5px;
        width: 100%;  // Make sure inputs are full width
        box-sizing: border-box;

        @include mobile {
          padding: 12px;
        }
      }

      button {
        padding: 15px;
        border: none;
        background-color: orange;
        color: white;
        font-weight: 500;
        cursor: pointer;
        width: 100%;  // Ensure the button stretches across the full form width
        border-radius: 5px;

        @include mobile {
          padding: 12px;
        }

        &:hover {
          background-color: darkorange;
        }
      }
    }
  }
}
